
  <!DOCTYPE html>
<html>
<head>
    <meta charset=’’utf-8’’/>  
    <link rel="stylesheet" type="text/css" href="style.css" />
    

 </head>
<body></body>
  <ul>
    <li><a href="index.php">Accueil</a></li>
    <li><a href="BTS_SIO.php">BTS SIO</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Projet</a>
      <div class="dropdown-content">
        <a href="PPE1.php">PPE 1 - PHP/ApplicationWeb</a>
        <a href="PPE2.php">PPE 2 - Java/Librairie</a>
        <a href="Projet.php">Projet</a>
    <li><a href="Competences.php">Compétences</a>
    <li><a href="Veille.php">Veille</a>
    <li><a href="Alternance.php">Alternance</a>
    <li><a href="Contact.php">Contact</a>  
    </div>
  </li>
</ul>
  

</html>